html {
    --dark-gray: rgb(90, 90, 90);
    --light-gray: rgb(148, 148, 148);
    --focus-blue: rgb(69, 159, 189);
  }

.searchHistoryContainer {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.searchHistoryList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.searchHistoryLabel {
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 50px;
  }

.searchHistoryLabel:hover {
    background: var(--light-gray);
  }

.searchHistoryItems {
list-style: none;
padding-left: 0;
}

  ul ul li{
    padding: 10px;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
  }

  ul ul li:hover{
    background: var(--light-gray);
  }

  input[type="checkbox"]{
    position: absolute;
    left: -9999px;
  }
  
  input[type="checkbox"] ~ ul{
    height: 0;
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1); 
  }
